

.showbox{
background-color: white;
height:auto;
width: 300px;
margin-left: 40rem;
margin-top: 10rem;

}

.clearbutton{
    background-color: rgb(250, 139, 139);
}

.container td input[type=button]{
    border-radius: 20px;
    border-color: white;
}



.container td input:hover{
    border-color: rgb(158, 158, 158);
    background-color: rgb(205, 205, 205);
}
.container td input[type=button]:hover{
    box-shadow:2px 5px rgb(124, 121, 121);
}
.display{
    margin-left: 20px;
    padding-top: 10px;
   
}
.container{
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border: 20px;
    border-color: black;
}
#cl:hover{
    background-color: red;
}

.container input{
    /* display: flex; */
    font-size: 40px;
    width: 50px;
}
.buttoninput{
background-color: white;
font-size: large;
}

#box{
    border: thick solid gray;
    border-radius:30px;
}

input[type=text]{
    border: 2px solid black;
    border-radius: 20px;
  padding-right: 8px;
}

input[type=text]::placeholder{
  
    padding-right: 5px;
    text-align: right;
    
}

#showoutput{
    text-align: right;
}

.placeholder{
    size: 50px;
}